 {{#if success}}
    <div class="alert alert-success">
    <ul>
        <li>Changed</li>
    </ul>
</div>
{{/if}} 
 <table class="data-tables">

  <tr>
    <td align="center">Code/Key :</td>
    <td align="center">{{key}}</td>
  </tr>
  <tr>
    <td align="center">District :</td>
    <td align="center">{{obj.District}}</td>
  </tr>
  <tr>
    <td align="center">Tehsil :</td>
    <td align="center">{{obj.Tehsil}}</td>
  </tr>
  
  <tr>
    <td align="center">Khata Number :</td>
    <td align="center">{{obj.Khata_No}}</td>
  </tr>
  <tr>
    <td align="center">Khasra Number :</td>
    <td align="center">{{obj.Khasra_No}}</td>
  </tr>
  <tr>
    <td align="center">Family Number :</td>
    <td align="center">{{obj.Family_No}}</td>
  </tr>

  <tr>
    <td align="center">AssetName :</td>
    <td align="center">{{obj.AssetName}}</td>
  </tr>
  <tr>
    <td align="center">UploadTime :</td>
    <td align="center">{{obj.UploadTime}}</td>
  </tr>
  <tr>
    <td align="center">Is-Advertised :</td>
    <td align="center">{{obj.Advertised}}</td>
  </tr>
  <tr>
    <td align="center">OwnerName :</td>
    <td align="center">{{obj.OwnerName}}</td>
  </tr>
  <tr>
    <td align="center">OwnerCNIC :</td>
    <td align="center">{{obj.OwnerCNIC}}</td>
  </tr>

  {{#if pending}}
    <tr>
            <td align="center"></td>
            <td align="center">This asset has been requested to buy by someone <a  href="{{joinPath '/request/ViewRequest/' requestkey}}">See Request</a></td>
             </tr>
  {{else}}
    {{#if_eq obj.OwnerCNIC NID}}
            {{#if_eq obj.Advertised 'Yes'}}
            {{#if_eq obj.DeedRegistration "Unregistered"}}
            <tr>
             <td align="center"></td>
             <td align="center"><p style="margin-top:10px"><b>This property has been transferred to you recently please apply for deed Registration</b>
             <br><a href="{{joinPath '/request/DeedRegistration/' this.Key}}" class="btn btn-primary">Apply for Deed Registration</a></p>
            </tr>
            {{/if_eq}}
            {{#if_eq obj.DeedRegistration "Applied"}}
            <tr>
              <td align="center"></td>
              <td align="center"><p style="margin-top:10px"><b>You have applied for deed Registration, Registrar will soon review your application.</b></p></td>
              </tr>
              {{/if_eq}}

            <tr>
            <td align="center"></td>
            <td align="center"><a href="{{joinPath '/asset/Advertise/' key}}"><button style="color: azure;">Remove from advertisement</button></a></td>
             </tr>
            {{else}}
            {{#if_eq obj.LoanStatus "Yes"}}
            <tr>
             <td align="center"></td>
             <td align="center"><p><b>You have availed loan against this property,<br> Cannot advertise for sale</b></p></td>
            </tr>
            {{/if_eq}}
            {{#if_eq obj.Lease "true"}}
            <tr>
             <td align="center"></td>
             <td align="center"><p><b>Your property is leased,<br> Cannot advertise for sale</b></p></td>
            </tr>
            {{/if_eq}}
            {{#if_eq obj.Stay "true"}}
            <tr>
             <td align="center"></td>
             <td align="center"><p><b>You have availed loan against this property,<br> Cannot advertise for sale</b></p></td>
            </tr>
            {{/if_eq}}
            {{#if_eq obj.Mortgage "true"}}
            <tr>
             <td align="center"></td>
             <td align="center"><p><b>Your property is mortgaged,<br> Cannot advertise for sale</b></p></td>
            </tr>
            {{/if_eq}}
             {{#if_eq obj.LoanStatus "No"}}
           {{#if_eq obj.DeedRegistration "Unregistered"}}
            <tr>
             <td align="center"></td>
             <td align="center"><p style="margin-top:10px"><b>This property has been transferred to you recently please apply for deed Registration</b>
             <br><a href="{{joinPath '/request/DeedRegistration/' this.Key}}" class="btn btn-primary">Apply for Deed Registration</a></p>
            </tr>
            {{/if_eq}}
            {{#if_eq obj.DeedRegistration "Applied"}}
            <tr>
              <td align="center"></td>
              <td align="center"><p style="margin-top:10px"><b>You have applied for deed Registration, Registrar will soon review your application.<br/>You cannot advertise this property yet.</b></p></td>
              </tr>
              {{/if_eq}}
              {{#if_eq obj.DeedRegistration "Registered"}}
              {{#if_eq obj.Lease "false"}}
              {{#if_eq obj.Mortgage "false"}}
              {{#if_eq obj.Stay "false"}}
             <tr>
             <td align="center"></td>
             <td align="center"><a href="{{joinPath '/asset/Advertise/' key}}"><button style="color: azure;">Advertise for sell</button></a></td>
            </tr>
            <tr><td align="center"></td><td align="center"><a href="{{joinPath '/request/getFard/' key}}"><button style="color: rgb(255, 255, 255);">Get Fard</button></a>
            </td> </tr>
            {{/if_eq}}
            {{/if_eq}}
            {{/if_eq}}
            {{/if_eq}}
            {{/if_eq}}
            {{/if_eq}}
      <tr>
      <td align="center"></td>
      
     </tr>
    {{else}}
  <tr>
    <td align="center"></td>
    <td align="center"><a href="{{joinPath '/request/createRequest/' key}}"><button style="color: azure;">Send Buy Request</button></a></td>
  </tr>
  <tr><td align="center"></td><td align="center"><a href="{{joinPath '/request/createFardsRequest/' key}}"><button style="color: rgb(255, 255, 255);">Send Fard Request</button></a></td></tr>
    {{/if_eq}}
  {{/if}}
</table> 

{{!-- {{result}} --}}